{{>carousel}}

<div>
    Home Page
</div>
<div class="find-docter">
    <a href="/register-doc">
        <button class="btn btn-primary" type="submit"> Find Doctor </button>
    </a>
</div>
<div class="find-docter">
    <a href="/getDoc">
        <button class="btn btn-primary" type="submit"> Find Doctor </button>
    </a>
</div>
{{!-- {{#if petUser}}
<div class="find-docter">
    <button class="btn btn-primary" type="submit"> Find Doctor </button>
</div>
{{/if}} --}}